In [2]:
import pandas as pd 
pd.set_option('display.float_format', lambda x: f'{x:,.2f}')

def load_data(file_path):
    df = pd.read_csv(file_path)

    return df

file_path = 'data/salary.csv'
df = load_data(file_path)
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,"122,568.00",NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,"110,796.00",NaN
2,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,"122,112.00",NaN
3,"ABARCA, EMMANUEL",CONCRETE LABORER,TRANSPORTN,F,Hourly,40.00,NaN,45.90
4,"ABARCA, FRANCES J",POLICE OFFICER,POLICE,F,Salary,NaN,"86,730.00",NaN

In [4]:
# Perform EDA 
def perform_eda(df):

    duplicates = df.duplicated().sum()
    missing_values = df.isna().sum()
    data_info = df.info()

    print(f'Data Structure : {data_info}')
    print('-'*50)
    print(f'Number of Duplicates: {duplicates}')
    print(f'Number of Missing Values: {missing_values}')

perform_eda(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31101 entries, 0 to 31100
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               31101 non-null  object
 1   Job Titles         31101 non-null  object
 2   Department         31101 non-null  object
 3   Full or Part-Time  31101 non-null  object
 4   Salary or Hourly   31101 non-null  object
 5   Typical Hours      6814 non-null   float64
 6   Annual Salary      24287 non-null  float64
 7   Hourly Rate        6814 non-null   float64
dtypes: float64(3), object(5)
memory usage: 1.9+ MB
Data Structure : None
--------------------------------------------------
Number of Duplicates: 0
Number of Missing Values: Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24287
Annual Salary         6814
Hourly Rate          24287
dtype: int64

In [5]:
# Check for anomalous values in each column 
def check_unique_values(df):
    count_unique = df.nunique() # return the number of unique values in the column
    print(f'Number of Unique Values: {count_unique}')
    print('-' * 50)

    for column_name in df.columns: 
        print(f'\nUnique Values in {column_name}')
        unique_values = df[column_name].unique()
        print(unique_values)
        print('-' * 50)


check_unique_values(df)

Number of Unique Values: Name                 30820
Job Titles            1078
Department              36
Full or Part-Time        2
Salary or Hourly         2
Typical Hours            4
Annual Salary          932
Hourly Rate            148
dtype: int64
--------------------------------------------------

Unique Values in Name
['AARON,  JEFFERY M' 'AARON,  KARINA' 'ABAD JR,  VICENTE M' ...
 'ZYMANTAS,  MARK E' 'ZYRKOWSKI,  CARLO E' 'ZYSKOWSKI,  DARIUSZ']
--------------------------------------------------

Unique Values in Job Titles
['SERGEANT' 'POLICE OFFICER (ASSIGNED AS DETECTIVE)' 'CIVIL ENGINEER IV'
 ... 'LEAVE OF ABSENCE ADMIN' 'PHOTOGRAPHER' 'MECHANICAL ENGINEER IV']
--------------------------------------------------

Unique Values in Department
['POLICE' 'WATER MGMNT' 'TRANSPORTN' 'AVIATION' 'FIRE' 'FAMILY & SUPPORT'
 'LAW' 'STREETS & SAN' 'OEMC' 'DAIS' 'FINANCE' 'CULTURAL AFFAIRS'
 'PUBLIC LIBRARY' 'HOUSING' 'BUILDINGS' 'BUSINESS AFFAIRS' 'HEALTH'
 'CITY COUNCIL' 'HUMAN RESOURCES' 'ANIMAL CONTRL' 'HOUSING & ECON DEV'
 "MAYOR'S OFFICE" 'PUBLIC SAFETY ADMIN' 'BOARD OF ELECTION'
 'INSPECTOR GEN' 'DISABILITIES' 'PROCUREMENT' 'CITY CLERK' 'COPA'
 'TREASURER' 'HUMAN RELATIONS' 'BUDGET & MGMT' 'BOARD OF ETHICS'
 'ADMIN HEARNG' 'POLICE BOARD' 'LICENSE APPL COMM']
--------------------------------------------------

Unique Values in Full or Part-Time
['F' 'P']
--------------------------------------------------

Unique Values in Salary or Hourly
['Salary' 'Hourly']
--------------------------------------------------

Unique Values in Typical Hours
[nan 40. 20. 10. 35.]
--------------------------------------------------

Unique Values in Annual Salary
[122568.   110796.   122112.         nan  86730.   118830.   109236.
  90990.    84612.    95586.   102372.   117384.   118836.   104814.
 123696.   110196.    78228.    80652.   106170.   101052.    87348.
  82458.    54672.   111048.    92844.    83808.    71436.    98940.
  80448.   118188.    96336.    90288.   111816.    71448.    98904.
  89388.    93660.   161082.   106704.    94152.   100896.   114822.
  42144.    77112.    53952.   135684.    91944.    21600.    66984.
  58044.    94428.    94368.   129063.96  72624.    96246.   139620.
  44808.   122274.   107490.    74220.   130596.   105936.    53088.
  52512.    78252.    62466.   126504.    78384.   117624.    70428.
  84936.   130908.   121440.   142176.    68196.    73488.   132828.
 107700.    93780.    80616.   115560.    80172.    64620.   118428.
 100398.   107028.    64992.    53064.    90036.    84084.    76122.
 112716.    97080.    48420.   103578.   127410.   165858.    59856.
  62136.   118104.   114408.   103914.   126840.   101262.   151764.
  99528.    70308.   106044.    68064.   170820.   108096.    81468.
 136524.   113412.   135144.    48036.    86016.    53340.    46188.
  59352.    56976.    70860.    79176.   120536.04 151176.    93252.
 102732.    67284.    82092.   108900.   148860.    70152.    85344.
  77772.   130248.    67668.    40392.   114138.    58560.    87804.
 103524.   134028.    67944.    71196.    56172.   114654.    87456.
  99876.    58872.    74844.    70488.   115956.    99288.   119580.
  71304.    86928.    58320.    51912.   107772.    76344.    65952.
 103866.    30060.    64272.   113388.   112848.   155658.    77736.
  38472.    86688.   146652.   138252.   110688.    52356.    63960.
 134736.   111492.    61920.    74280.   104430.    85308.    94500.
  55932.    61308.    78024.   130260.    56424.    97032.   104604.
  67908.    46416.    50688.    62712.    59100.    68544.    98016.
  89916.   116700.    96402.   142296.   147258.    70104.    82764.
 156396.   107604.    74976.    67044.    64860.    33180.   128616.
 125202.   129528.   117864.    76380.    36636.   112152.    82104.
 133488.   106200.    59184.   115308.    86484.   151416.   104484.
 102552.    81936.   134888.04 114570.    61020.   102516.   115002.
  54324.    68424.    47304.   130320.    64596.    65064.   123888.
  92736.   118068.    63204.    75732.    36000.   149700.    94188.
  91920.    63972.   132180.    61632.   112020.    95364.    73464.
 105648.    71856.   142404.   191436.   111113.64 104136.    75816.
  55620.   130460.04  88416.   118776.    82812.    91020.   127248.
 112608.    80784.    48168.    49176.    95652.    97980.    76992.
  89256.   108864.   106080.    82656.   137424.   121656.    55008.
  91872.   100524.    68028.    44292.    58116.   107712.   135528.
  84468.    82968.    37224.   106560.    97572.    71280.   112668.
  88770.    88488.    65496.   118512.    64824.    47256.    73788.
 109944.    60708.    73920.   170352.    75624.   159516.   123420.
 108444.   134160.    66780.    69564.    40416.    98664.    96600.
 110766.    96528.   148872.    56616.   138378.   175500.   108252.
  51408.   151860.    73644.    69180.   173784.   141377.64  61692.
 135204.   108036.   126786.   120252.   124428.   169830.    71892.
 178488.   113588.76  87720.   146724.    54084.    55668.   101196.
 204756.    91662.   100548.   101532.   126360.    78756.    84054.
  58284.   166992.   145260.   129264.    62928.    79968.    63000.
 150213.72 125388.    92112.    76266.   201600.   129834.   130698.
  73512.   115752.    53232.   138828.    93768.   105696.    93624.
  89352.    53604.   107952.    34008.    61488.    65412.   130200.
  98556.    58572.    55128.    60000.    72000.   117540.84  52536.
  83088.   102696.    51600.    54540.   103344.   107166.   157500.
 260004.    99588.   113280.    90060.    38376.    61176.   110160.
  71379.    85740.    52500.   178620.   125100.    79224.   152772.
 120408.   142452.    23208.   123660.   141012.    91008.    86508.
  84492.    56556.    70356.    98892.    71364.    61008.    56868.
  84888.   115584.   129432.   128916.   182640.   122304.   107016.
 133812.   103056.    59688.   105840.   102708.   207612.   114096.
 112992.   112812.    60936.   110052.    66972.    91824.   144192.
 194628.    62952.    49582.32  86604.   131508.   123148.68 120900.
 103632.   129408.   121536.   160476.    40164.   138048.   183852.
  76980.   119808.    40008.    34092.   112872.    87408.    98616.
  49992.    49272.   143076.   101472.    56880.    68256.    70992.
  35532.   142224.    89244.    58848.    54072.    63528.    91200.
  51204.    72108.   114756.    61956.    92688.   103560.    72684.
 155358.    52008.   117193.92 189288.    49368.    90240.    78624.
  73200.   137880.   136872.    55596.    67056.    85404.    88200.
  74340.    85764.   122664.   118560.    54348.   119940.   142380.
  32760.    80148.    71244.    77616.    44604.    71376.    90144.
 102744.    90828.   126000.    53892.    44088.   172068.   137384.04
  41424.    75036.   145344.   127644.    86340.    49116.    56700.
  85836.    75792.   101040.   140820.    58524.    35352.    81444.
  74496.    57588.   105660.    83892.    58945.92  34476.    57756.
  69804.    92664.    92832.    80016.   131256.   132564.   155760.
 120084.   133545.   105012.    57384.   151512.    96408.   107232.
  59532.    83220.    73296.    79332.    70968.    64944.    77832.
  74316.   138102.   197064.    58776.   154212.    46860.   113496.
  47280.    55944.   156828.    68268.   154284.    63276.    59808.
  64980.   119040.    93792.   105000.    89784.    69600.    67344.
 120756.    50472.    83760.    64896.    87984.    94704.    76716.
  34992.    90024.    73536.   110240.04 110412.   116188.8  114399.96
  79452.    99756.   194616.    70692.    71184.    87006.    34860.
 109992.    77076.    70476.    45720.    36408.    48672.    75000.
 189000.   101508.    68640.   155916.    46332.    57720.   126588.84
 135720.   112218.    52692.   181464.    42012.   126408.    94788.
 128184.    73212.    70836.   114648.    64644.   112464.   167676.
  75708.    84060.   115920.    90312.   124836.   123480.   106416.
 162744.    90120.    56244.    46848.   132372.   136236.    76848.
  65400.    66156.   138060.   107796.    61428.   173256.   152700.
  53028.    79212.   111312.   184512.   117324.    74688.    73800.
 104916.    89460.    46644.    80556.    38388.   169164.    65796.
  45000.    79956.    34656.    50964.    72420.    89220.    54600.
  45024.    36624.   168660.    75528.    76488.   139680.    60600.
 100002.    46836.    40860.    78600.    57792.    70812.    99984.
 107052.    44580.    70128.    65820.    74664.   150756.    98052.
 141756.    92868.   125976.    66840.    84000.   127464.    76560.
 136512.   114804.    77712.   143820.   123624.   142680.    67536.
 128112.    55704.    74136.    96096.   216210.   190044.    43020.
  60072.   110229.    54492.    43512.    61668.    65700.    63936.
  87900.    88332.   145680.   116178.   106056.    97992.   127704.
  69936.    94992.    78000.   135672.    57216.   131268.    64002.
  30000.    67332.    37536.   122772.    79008.   129300.   124992.
 118140.    73008.    66432.    48588.   107702.4   48912.    78432.
 148200.   104112.    97332.   121368.    47496.   104520.    59988.
 129588.    93504.   161076.   190008.   110004.   115026.    82428.
  50081.88  61452.    44736.    45288.    74064.   228612.    45168.
  51732.   126336.    74916.    68262.   101676.    50016.   106584.
  68244.   184464.   160764.    82176.    52488.   173796.    74412.
 130062.    69468.   120000.   100428.   123816.    62016.   163932.
 102864.   102264.    58008.    49692.   107892.   112680.   101712.
  63048.    79872.    63060.    67212.   120312.   127320.    79992.
  37620.   103008.    72252.   115938.    66324.   120660.84  39996.
  84012.    52992.    63024.    59040.    74184.    67812.    56196.
 115800.    76524.   116094.    71508.   112694.4   55164.   117600.
  76092.   151458.   275004.    68436.   106260.    91908.   139413.6
  82608.    55656.   128040.   156726.   115968.   138240.    77868.
  43380.    83604.    73152.    60192.   147762.   105816.    74016.
  60684.    83100.   130896.    73848.    70824.    90420.    95736.
  90000.    88632.    58740.    76788.    48000.   207624.   115272.
  42120.   189252.    69612.   119412.   162096.   168012.   158892.
  60948.   103992.   116952.    79704.   117353.64  71124.    60108.
 178452.   142716.   141750.   170817.96  80400.   110256.    76656.
  69264.    44544.    46944.    35736.    51456.   110220.   123504.
  42408.    41892.   113616.   164916.    67860.    42000.    95916.
 129780.    96432.    42312.   107448.    58752.    70008.    97002.
  83796.    64632.    80136.   197112.   116772.   102564.   120696.
  68592.    99672.    48900.    77064.    67872.    83988.   152748.
  70320.    88752.    85002.   123912.    65676.    70500.   128676.
  46176.    74232.    93456.    86112.    66072.   152412.    88440.
  69276.    60612.  ]
--------------------------------------------------

Unique Values in Hourly Rate
[   nan  45.9   51.     3.    39.25  36.5   35.29  40.18  15.    24.39
  24.46  31.4   16.    49.3   42.53  40.27  17.3   35.33  54.04  50.68
  41.41  53.6   18.79  24.    36.72  53.42  25.38  22.04  27.86  54.51
  52.8   51.34  39.84  55.95  56.55  39.94  21.73  19.2   22.38  49.5
  16.8   59.44  52.    26.69  47.5   29.2   41.27  26.73  20.    36.1
  54.    41.34  48.56  25.    24.81  46.8   47.    47.73  22.74  27.54
  21.38  50.86  27.53  56.6   23.74  23.05  25.19  27.87  24.19  15.8
  50.1   51.8   22.85  25.95  53.18  19.6   51.3   18.    21.    56.51
  17.5   46.7   25.72  26.52  55.    23.25  28.94  37.2   46.4   44.11
  37.    36.24  44.59  50.29  37.68  19.25  57.6   46.67  62.05  52.3
  58.    52.13  41.55  19.23  39.7   37.45  42.75  27.    24.94  56.38
  22.    53.36  17.    47.52  54.63  23.    28.65  38.99  30.7   22.05
  55.46  27.35  59.47  16.3   64.3  134.4   43.32  25.08  49.72  30.
  19.68  34.3   41.31  33.06  23.46  16.5   50.    14.    55.84  20.8
  51.75  31.41 128.97  12.    36.45  21.61  26.    44.88  39.31]
--------------------------------------------------

In [6]:
# Number of departments 
dept_counts = df['Department'].value_counts()
print('Department value counts')
dept_counts

Department value counts

Department
POLICE                 12537
FIRE                    4801
STREETS & SAN           2004
AVIATION                1887
WATER MGMNT             1826
TRANSPORTN              1091
PUBLIC LIBRARY          1018
DAIS                     967
OEMC                     864
HEALTH                   554
FAMILY & SUPPORT         552
FINANCE                  478
CITY COUNCIL             359
LAW                      331
PUBLIC SAFETY ADMIN      294
BUILDINGS                232
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       152
COPA                     122
BOARD OF ELECTION        109
MAYOR'S OFFICE            99
INSPECTOR GEN             93
CITY CLERK                81
PROCUREMENT               78
HOUSING                   73
HUMAN RESOURCES           69
ANIMAL CONTRL             62
CULTURAL AFFAIRS          59
ADMIN HEARNG              35
BUDGET & MGMT             33
TREASURER                 27
DISABILITIES              21
HUMAN RELATIONS           15
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

In [7]:
# Statistics 
statistics = df.describe().T 
print('Summary Statistics')
statistics

Summary Statistics

,count,mean,std,min,25%,50%,75%,max
Typical Hours,"6,814.00",36.48,8.22,10.00,40.00,40.00,40.00,40.00
Annual Salary,"24,287.00","98,750.84","22,459.97","21,600.00","86,730.00","98,940.00","109,236.00","275,004.00"
Hourly Rate,"6,814.00",38.85,12.98,3.00,34.55,39.25,49.30,134.40

### Explore the top 2 departments with the most employees

In [8]:
# Take the top 2 departments only 
df = df[df['Department'].isin(['POLICE', 'FIRE'])]
df['Department'].value_counts()

Department
POLICE    12537
FIRE       4801
Name: count, dtype: int64

In [10]:
# Check police and fire dept dataframe

perform_eda(df)

<class 'pandas.core.frame.DataFrame'>
Index: 17338 entries, 0 to 31099
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               17338 non-null  object
 1   Job Titles         17338 non-null  object
 2   Department         17338 non-null  object
 3   Full or Part-Time  17338 non-null  object
 4   Salary or Hourly   17338 non-null  object
 5   Typical Hours      9 non-null      float64
 6   Annual Salary      17329 non-null  float64
 7   Hourly Rate        9 non-null      float64
dtypes: float64(3), object(5)
memory usage: 1.2+ MB
Data Structure : None
--------------------------------------------------
Number of Duplicates: 0
Number of Missing Values: Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        17329
Annual Salary            9
Hourly Rate          17329
dtype: int64

In [12]:
# Fill missing values for each column explicitly 
df['Typical Hours'] = df['Typical Hours'].fillna(0)
df['Annual Salary'] = df['Annual Salary'].fillna(0)
df['Hourly Rate'] = df['Hourly Rate'].fillna(0)

# Verify if there are still missing values
perform_eda(df)

<class 'pandas.core.frame.DataFrame'>
Index: 17338 entries, 0 to 31099
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               17338 non-null  object
 1   Job Titles         17338 non-null  object
 2   Department         17338 non-null  object
 3   Full or Part-Time  17338 non-null  object
 4   Salary or Hourly   17338 non-null  object
 5   Typical Hours      17338 non-null  float64
 6   Annual Salary      17338 non-null  float64
 7   Hourly Rate        17338 non-null  float64
dtypes: float64(3), object(5)
memory usage: 1.2+ MB
Data Structure : None
--------------------------------------------------
Number of Duplicates: 0
Number of Missing Values: Name                 0
Job Titles           0
Department           0
Full or Part-Time    0
Salary or Hourly     0
Typical Hours        0
Annual Salary        0
Hourly Rate          0
dtype: int64